<script type="text/javascript" src="{{ 'three/build/three.modules.js' | asset_url }}"></script>
<script type="module">
import * as THREE from "three";
console.log(THREE);
</script>

<section class="three-wrapper" style="height: 600px">
  <div>
    <small>{{section.settings.eyebrow}}</small>
    <h1>{{section.settings.title}}</h1>
    <p>{{section.settings.subtitle}}</p>
  </div>
</section>



{% schema %}
{
"name":"featured-3d-product",
"settings":[
{
"type":"text",
"label":"3d Featured Product Eyebrow",
"id":"eyebrow"
},
{
"type":"text",
"label":"3d Featured Product Title",
"id":"title"
},
{
"type":"text",
"label":"3d Featured Product Subtitle",
"id":"subtitle"
},
{
"type":"product",
"label":"3d Featured Product",
"id":"product"
},
{
"type":"color",
"label":"bg color",
"id":"bg-color"
}
],
"blocks":[
{
"type":"image",
"name":"image block",
"settings":[
{
"type":"image_picker",
"label":"Image",
"id":"image"
}
]
}
],
"presets":[
{
"category":"3D",
"name":"3D Featured Product"
}
]
}
{% endschema %}