<script async="" src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>{% javascript %}
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js'

const loader = new GLTFLoader();

const loadModel = async () => {
  const loadedData = await loader.loadAsync('/assets/models/Nefertiti.glb');
}

{% endjavascript %}

<section class="three-wrapper" style="height: 600px">
  <div>
    <small>{{section.settings.eyebrow}}</small>
    <h1>{{section.settings.title}}</h1>
    <p>{{section.settings.subtitle}}</p>
  </div>
</section>



{% schema %}
{
"name":"featured-3d-product",
"settings":[
{
"type":"text",
"label":"3d Featured Product Eyebrow",
"id":"eyebrow"
},
{
"type":"text",
"label":"3d Featured Product Title",
"id":"title"
},
{
"type":"text",
"label":"3d Featured Product Subtitle",
"id":"subtitle"
},
{
"type":"product",
"label":"3d Featured Product",
"id":"product"
},
{
"type":"color",
"label":"bg color",
"id":"bg-color"
}
],
"blocks":[
{
"type":"image",
"name":"image block",
"settings":[
{
"type":"image_picker",
"label":"Image",
"id":"image"
}
]
}
],
"presets":[
{
"category":"3D",
"name":"3D Featured Product"
}
]
}
{% endschema %}